div header{
    max-width: 1980px;
    min-height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 0px 16px;
    background-color: #2c2b2b;
}

div header h1{
    font-size: 28px;
    color: #6961ef;
    text-decoration: none;
}

div section.login {
    margin: 175px auto;
    background-color: #fff;
    max-width: 280px;
    min-height: 250px;
    padding: 20px;
    position: relative;
    border-radius: 25px;
}

div section.login h3 {
    padding: 5px 16px;
    background-color: #6961ef;
    width: 100%;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    box-shadow: 0px 2px 2px 1px #6b67c1;
}

div section.login form {
    margin: 30px 0px;
}

div section.login form label{
    font-size: 15px;
    color:#545454;
}

div section.login form input[type=text] , div section.login form input[type=password] {
    border : 1px solid #6b6b6b;
    transition-duration: 0.4s;
    width: 100%;;
    height: 25px;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

div section.login form input[type=text]:focus , div section.login form input[type=password]:focus{
    border-color:#847ff1;
}

div section.login form div.secundaryButtons{
    display: flex;
    justify-content: space-around;
}

div section.login form a {
    font-size: 10px;
    color: #6b6b6b;
    text-decoration: none;
}

div section.login form a:hover{
    color: #6961ef;
    cursor: pointer;
}

div section.login form input[type=submit]{
    background-color: #6961ef;
    margin: 20px 56px;
    transition-duration: 0.4s;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 2px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

div section.login form input[type=submit]:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}