/* Contenedor principal */
.bar {
    display: flex;
    align-items: center;
    background-color: #2c2b2b;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-width: 536px;
    max-width: 800px;
    padding: 20px;
    margin: 10px auto;
    overflow: visible;
}

/* Ícono de búsqueda */
.bar .icon {
    font-size: 18px;
    color: #F0F8FF;
    margin-right: 8px;
}

.bar .img {
    font-size: 18px;
    color: #F0F8FF;
    margin-right: 8px;
}

/* Campo de entrada */
.bar .origin {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-style: italic;
    color: #fff ;
    
}

.bar .origin::placeholder{
    color:#aaa;
}

.bar .destination {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-style: italic;
    color: #fff ;
}

.bar .destination::placeholder{
    color:#aaa;
}

.bar .hr{
    height: 25px;
    width: 1px;
    border-radius: 25px;
    background-color: #eee;
    margin: 5px 5px ;
}

/* Estilo para el input de tipo date */
.bar .date-input {
    background-color: #2c2b2b; /* Fondo claro */
    border: 1px solid #fff; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    color: #aaa; /* Color del texto */
    width: 100%; /* Ancho completo */
    max-width: 150px; /* Limitar el ancho máximo */
    max-height: 25px;
    box-shadow: 0 2px 4px rgba(201, 199, 199, 0.1); /* Sombra ligera */
    transition: border-color 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
    outline: none; /* Eliminar borde al hacer foco */
}

.bar .date-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    border-radius: 50%;
    padding: 4px;
  }

/* Efecto hover */
.bar .date-input:hover {
    border-color: #6961ef; /* Cambiar color de borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Incrementar sombra */
}

/* Efecto al hacer foco */
.bar .date-input:focus {
    border-color: #6961ef; /* Color del borde al hacer foco */
    box-shadow: 0 4px 8px rgba(140, 85, 202, 0.25); /* Sombra más pronunciada */
}

/* Placeholder estilizado */
.bar .date-input::placeholder {
    color: #aaa; /* Color del placeholder */
    font-style: italic; /* Estilo en cursiva */
}

.search-button{
    background-color: #2c2b2b;
    border: none;
    margin-left: 20px;
}

.search-button .icon {
    color: #fff;
}

.search-button .icon:hover{
    color: #6961ef;
    cursor: pointer;
}